<section
  class="main-form"
  [class.density-0]="density === '0'"
  [class.density-1]="density === '-1'"
  [class.density-2]="density === '-2'"
  [class.density-3]="density === '-3'"
>
  <label>
    Select density
    <select [(ngModel)]="density">
      <option value="0">0</option>
      <option value="-1">-1</option>
      <option value="-2">-2</option>
      <option value="-3">-3</option>
    </select>
  </label>

  <hr />

  <h2 class="title">Typography</h2>

  <h1>Title h1</h1>
  <h2>Title h2</h2>
  <h3>Title h3</h3>
  <h4>Title h4</h4>
  <h5>Title h5</h5>
  <h6>Title h6</h6>

  <p>
    Paragraph Paragraph Paragraph Paragraph Paragraph Paragraph Paragraph
    Paragraph Paragraph Paragraph
  </p>
  <small>small small small small small small small small small </small>

  <h2 class="title">Autocomplete</h2>
  <app-autocomplete></app-autocomplete>

  <h2 class="title">Checkbox</h2>
  <app-checkbox></app-checkbox>

  <h2 class="title">Date picker</h2>
  <app-datepicker></app-datepicker>

  <h2 class="title">Form field</h2>
  <app-form-field></app-form-field>

  <h2 class="title">Paginator</h2>
  <app-paginator></app-paginator>

  <h2 class="title">Radio button</h2>
  <app-radio-button></app-radio-button>

  <h2 class="title">Select</h2>
  <app-select></app-select>

  <h2 class="title">Slide toggle</h2>
  <app-slide-toggle></app-slide-toggle>

  <h2 class="title">Slider</h2>
  <app-slider></app-slider>
</section>
